<section class="separator-one">
	<div class="color-overlay">
		<div class="container">
			<form role="form" class="subscription" action="#">
				<input type="text" class="form-control input-box search-box" placeholder="Search for internships">
			</form>
		</div>
	</div>
</section>

<section class="separator-white">
	<div class="container">
		<ul class="nav nav-pills nav-justified middle-nav">
			<li role="presentation">
				<a class="middle-nav-item" href="#">acct/finance</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="#">dev</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="#">design</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="#">engineer</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="#">life/science</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="#">marketing</a>
			</li>
			<li class="dropdown" role="presentation">
				<a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle middle-nav-item">
					Skills
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
		<!--
		<div class="nav-middle">
			<div class="box">
				<div class="row">
					<div class="col-xs-2">
						<a class="menu-item" href="/remote-web-dev-jobs">
							<p>acct/finance</p>
						</a>
					</div>
					<div class="col-xs-1">
						<a class="menu-item" href="/remote-mobile-jobs">
							<p>dev</p>
						</a>
					</div>
					<div class="col-xs-1">
						<a class="menu-item" href="/remote-design-jobs">
							<p>design</p>
						</a>
					</div>
					<div class="col-xs-2">
						<a class="menu-item" href="/remote-infosec-jobs">
							<p>engineer</p>
						</a>
					</div>
					<div class="col-xs-2">
						<a class="menu-item" href="/remote-non-tech-jobs">
							<p>life/science</p>
						</a>
					</div>
					<div class="col-xs-2">
						<a class="menu-item" href="/highest-paid-remote-jobs">
							<p>marketing</p>
						</a>
					</div>
					<div class="col-xs-2 dropdown-link">
						<div class="dropdown">
							<a class="btn menu-item dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Dropdown
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</section>

<section class="vacancies">
	<div class="container">
		<% @vacancies.each do |vacancy | %>
			<div class="row vacancy-item">
				<div class="col-sm-6 col-lg-1 text-center">
					<a>
						<%= image_tag(vacancy.vacancy_company_logo, :class => 'img-responsive center-block') %>
					</a>
				</div>
				<div class="col-sm-6 col-lg-7">
					<div class="row">
						<div class="col-sm-6">
							<h2><%= vacancy.vacancy_company_name %></h2>
							<h4><a><%= @types[vacancy.vacancytype_id] %> </a></h4>
							<h4><i class="fa fa-map-marker"></i> Remote</h4>
						</div>
						<div class="col-sm-6 text-center vacancy-salary">
							<h2>$<%= number_with_delimiter(vacancy.vacancy_salary) %></h2>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-2 share-vacancy">
					<a class="btn btn-default btn-block">FACEBOOK</a>
					<a class="btn btn-default btn-block">ADS</a>
					<a class="btn btn-default btn-block">SEO</a>
				</div>
				<div class="col-sm-6 col-lg-2 apply-to-vacancy">
					<a class="btn btn-link btn-lg">APPLY</a>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="separator-two">
	<div class="color-overlay">
		<div class="container">
			<a class="btn btn-default btn-lg btn-load-more">+ Load more</a>
		</div>
	</div>	
</section>