<section class="pricing">
	<div class="container">
		<div class="section-header">
			<h2>Pricing</h2>
			<h4>Students apply for FREE</h4>
			<h3>Company pricing:</h3>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12 price-item-container">
				<div class="price-item trial">
					<h2>Trial</h2>
					<h1>FREE</h1>
					<h3>2 postings/ 15 days</h3>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 price-item-container">
				<div class="price-item">
					<h2>Standard</h2>
					<h1>$149</h1>
					<h3 style="padding: 0 60px;">per posting per month billed monthly</h3>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 price-item-container">
				<div class="price-item new-features">
					<h2>New Features</h2>
					<h1>Continuosly Building</h1>
					<h3>everyday</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12 price-item-container">
				<div class="item-list text-left">
					<h3 class="item-list-header">Trial includes:</h3>
					<ul class="list list-trial">
						<li><span>Post two internship positions on our leaderboard</span></li>
						<li><span>Unlimited email support</span></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 price-item-container">
				<div class="item-list text-left">
					<h3 class="item-list-header">Standard includes:</h3>
					<ul class="list list-standard">
						<li><span>Post one internship position for a month on our leaderboard</span></li>
						<li><span>Full feature set</span></li>
						<li><span>Unlimited email support</span></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 price-item-container">
				<div class="item-list text-left">
					<h3 class="item-list-header">What we are working on:</h3>
					<ul class="list list-features">
						<li class="first-item">
							<span>Applicant Management</span>
							<ul class="subitems">
								<li>&ndash; Organize Candidates</li>
								<li>&ndash; Manage Comments and Responses</li>
								<li>&ndash; Customize your posts and forms</li>
							</ul>
						</li>
						<li><span>Legal Structure</span></li>
						<li><span>Integrated Support</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section-footer">
			<h4>Monthly plan can be paused and reactivated.</h4>
		</div>
	</div>
</section>
<section class="feedback top-border-2">
	<div class="container">
		<div class="section-header">
			<h2>Feedback</h2>
			<h4>Questions or comments?</h4>
			<h4>We want to hear from you :)</h4>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
				<div class="team-member">
					<figure class="profile-pic"> 
						<img src="/images/team/pic1.jpg" class="img-responsive" alt="Brandon Fong">
					</figure>
					<div class="member-details">
						<h5 class="dark-text">Brandon Fong</h5>
						<div class="position">
							<p>VP Customer</p>
							<p>Development</p>
						</div>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							<li><a href="#" class="linkedin"><i class="fa fa-linkedin-square"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="subscription top-border-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12 subscription-form">
				<h2>Get weekly emails on internship content</h2>
				<script type="text/javascript" src="//app.mailerlite.com/data/webforms/55977/o6j1p0.js?v1"></script>
			</div>
		</div>
	</div>
</section>