<section class="why top-border-2">
	<div class="container">
		<div class="col-xs-12 text-left">
			<h2 class="text-center">Privacy policy content</h2>
			<p>
				Hi, we know you’re excited to receive our service! At the same time, we are thrilled to have you joining our network, but first we have to inform you as to why we collect information when you sign up.Your privacy matters to us and Intern Betas commits to protecting it. Intern Betas will not sell, rent or otherwise disclose this information to any third party, except as described in this policy. Intern Betas will take all necessary steps to ensure your personal information remains private. However, personal information may be disclosed under the limited circumstances described below, and by submitting your personal information, you agree that we may do so.
			</p>
			<hr>
			<ol class="space-left-20">
				<li>Your email address and basic information is stored in our database upon signing up.</li>
				<li>In order to provide high quality interns and internships, we will add you to our list of potential users and send you updates on our milestones and added features. If you are subscribed to our newsletter, we will include an opt out link in each newsletter we send out.</li>
				<li>Your data is safe with us! We will not send information to 3rd party services that we do not use in our processes.</li>
				<li>Every email will contain an option to opt out of any of our communication.You can also contact <a href="mailto:hello@internbetas.com">hello@internbetas.com</a> directly if you wish for your data to be 100% completely erased from our database.</li>
				<li>Please note: This policy is subject to changes. We will keep you informed with any modifications in the future! </li>
			</ol>
			<hr>
			<p>Thanks,</p>
			<p>The Intern Betas Team</p>
		</div>
	</div>
</section>