<section class="why">
	<div class="container">
		<div class="col-xs-12 text-left">
			<h2 class="text-center">Terms of service</h2>
			<p>
				Terms of Service (“Terms”)
			</p>
			<p class="space-top-10">
				Last updated 3/9/2015
			</p>
			<p class="space-top-10">
				Please read these Terms of Service (“Terms”, ”Terms of Service) carefully before using the internbetas.com website (the “Service”) operated by Intern Betas, Inc. (“us”, “we”, or “our”).
			</p>
			<p class="space-top-10">
				Your access to and use of the Service is conditioned on your acceptance of and compliance with these terms. These Terms apply to all visitors, users and others who access or use the Service.
			</p>
			<p class="space-top-10">
				By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
			</p>
			<h3 class="text-center">Termination</h3>
			<p class="space-top-10">
				We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
			</p>
			<p class="space-top-10">
				All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
			</p>
			<h3 class="text-center">Links to Other Web Sites</h3>
			<p class="space-top-10">
				Our Service may contain links to third-party web sites or services that are not owned or controlled by Intern Betas.
			</p>
			<p class="space-top-10">
				Intern Betas has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Intern Betas shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such websites or services.
			</p>
			<h3 class="text-center">Governing Law</h3>
			<p class="space-top-10">
				These Terms shall be governed and construed in accordance with the laws of the United States of America, without regard to its conflict of law provisions.
			</p>
			<h3 class="text-center">Changes</h3>
			<p class="space-top-10">
				We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least a 30 day notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
			</p>
			<p class="space-top-10">
				Contact Us
			</p>
			<p class="space-top-10">
				If you have any questions about these Terms, please contact us at <a href="mailto:hello@internbetas.com">hello@internbetas.com</a>
			</p>
		</div>
	</div>
</section>