<section class="why">
	<div class="container">
		<div class="section-header">
			<h2>Team</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="team-member">
					<figure class="profile-pic"> 
						<img src="/images/team/pic1.jpg" alt="Brandon Fong">
					</figure>
					<div class="member-details">
						<h5 class="dark-text red-border-bottom">Brandon Fong</h5>
						<div class="position">
							VP Customer Development
						</div>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<figure class="profile-pic"> 
						<img src="/images/team/pic2.jpg" alt="Samuel Lepak">
					</figure>
					<div class="member-details">
						<h5 class="dark-text red-border-bottom">Samuel Lepak</h5>
						<div class="position">
							VP Growth
						</div>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<figure class="profile-pic"> 
						<img src="/images/team/pic1.jpg" alt="Alex Steeno">
					</figure>
					<div class="member-details">
						<h5 class="dark-text red-border-bottom">Alex Steeno</h5>
						<div class="position">
							VP Engineering
						</div>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="team-member">
					<figure class="profile-pic"> 
						<img src="/images/team/pic2.jpg" alt="Alec Tranel">
					</figure>
					<div class="member-details">
						<h5 class="dark-text red-border-bottom">Alec Tranel</h5>
						<div class="position">
							CEO
						</div>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<figure class="profile-pic"> 
						<img src="/images/team/pic1.jpg" alt="Ulysses Smith">
					</figure>
					<div class="member-details">
						<h5 class="dark-text red-border-bottom">Ulysses Smith</h5>
						<div class="position">
							CFO
						</div>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="why">
	<div class="container">
		<div class="section-header">
			<h2>Special thanks</h2>
		</div>
		<div class="row">
			<div class="col-md-6 space-bottom-35">
				<img src="/images/thanks/thanks1.jpg" class="img-responsive center-block">
			</div>
			<div class="col-md-6 space-bottom-35">
				<img src="/images/thanks/thanks2.jpg" class="img-responsive center-block">
			</div>
		</div>
	</div>
</section>
