<header class="alt" id="topbar">
	<div class="topbar-left">
		<ol class="breadcrumb">
			<li class="crumb-link">
				<a href="<%= dashboard_vacancies_path %>">Dashboard</a>
			</li>
			<li class="crumb-link">
				<a href="<%= dashboard_interns_path %>">Interns</a>
			</li>
			<li class="crumb-trail">Edit internship</li>
		</ol>
	</div>
</header>

<section id="content" class="table-layout">
	<%= render :partial => 'internusrs/form' %>
</section>
