<section class="why-interns">
	<div class="container">
		<div class="section-header">
			<h2>Why are we the best for interns?</h2>
		</div>
	</div>
</section>

<section class="why">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<img src="/images/companies/small/comp3.jpg" class="img-responsive img-circle center-block">
			</div>
			<div class="col-xs-6 col-md-8">
				<h2>Portfolio Builder</h2>
				<p>
					The days of the resume is are over. Your success is not a matter if you look good &ndash; it is a matter if you are good. We expose you to companies that want to see what you are made of. This means that you will be given opportunities to build your portfolio &ndash; a proven record of all the awesome work you have done.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-8">
				<h2>Project Based</h2>
				<p>
					We realized that there are a lot of "fluffy" internships out there. They are dragged on, have uncorrelated objectives, and after awhile the purpose and vision of the internship becomes lost. We cut the crap. Due to its compact nature, the project based structure will allow you to complete more internships and learn rapidly. Get compensated throughout you project with pre-defined goals and metrics.
				</p>
			</div>
			<div class="col-xs-6 col-md-4">
				<img src="/images/companies/small/comp4.jpg" class="img-responsive img-circle center-block">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<img src="/images/companies/small/comp5.jpg" class="img-responsive img-circle center-block">
			</div>
			<div class="col-xs-6 col-md-8">
				<h2>Innovative Experience</h2>
				<p>
					School can only prepare you so much &ndash; there becomes a point where you need to the highest quality companies that are focused on staying innovative. Nobody becomes great without first challenging themselves to thing differently. Why aren't internships designed to do just that?
				</p>
			</div>
		</div>
	</div>
</section>