<section class="why-companies">
	<div class="container">
		<div class="section-header">
			<h2>Why are we the best for companies?</h2>
		</div>
	</div>
</section>

<section class="why">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<img src="/images/companies/small/comp1.jpg" class="img-responsive img-circle center-block">
			</div>
			<div class="col-xs-6 col-md-8">
				<h2>Internship Onboarding</h2>
				<p>
					Our job is to make internship onboarding stupidly simple. We are continuously expanding our model by implementing new ways to educate our interns, making them more efficient and effective. Our process is designed to get your interns ready to hit the ground running as fast as possible.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-8">
				<h2>Project Based Internships</h2>
				<p>
					We have "no fluff" policy. All too often, both interns and companies waste time due to a lack of proper internship structure. Our project based internships deliver compact internships with specific goals and deadlines.
				</p>
			</div>
			<div class="col-xs-6 col-md-4">
				<img src="/images/companies/small/comp2.jpg" class="img-responsive img-circle center-block">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<img src="/images/companies/small/comp4.jpg" class="img-responsive img-circle center-block">
			</div>
			<div class="col-xs-6 col-md-8">
				<h2>Streamline Offboarding</h2>
				<p>
					Your intern just finished an awesome project. Now what? What companies often misunderstand is the fact that offboarding is a valuable process. Our structure brings the entire internship to a full circle. Offboarding is the perfect opportunity to learn more about your company culture and hot to stay innovative.
				</p>
			</div>
		</div>
	</div>
</section>