<footer>
	<div class="container">
		<div class="col-md-3">
			<img class="img-responsive" src="/images/logo-footer.png">
		</div>
		<div class="col-md-6 col-xs-12 footer-links-holder">
			<ul>
				<li><a class="footer-link">Privacy</a></li>
				<li><a class="footer-link">Security</a></li>
				<li><a class="footer-link">Terms of Service</a></li>
				<li><a class="footer-link">Policies</a></li>
				<li><a class="footer-link">Team</a></li>
				<li><a class="footer-link">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="social">
				<li>
					<a class="btn btn-default btn-circle" href="">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a class="btn btn-default btn-circle" href="">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a class="btn btn-default btn-circle" href="">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>