<footer>
	<div class="container">
		<div class="col-md-3">
			<img class="img-responsive" src="/images/logo-footer.png">
		</div>
		<div class="col-md-6 col-xs-12 footer-links-holder">
			<ul>
				<li><a class="footer-link" href="<%= privacy_path %>">Privacy</a></li>
				<li><a class="footer-link">Security</a></li>
				<li><a class="footer-link" href="<%= service_path %>">Terms of Service</a></li>
				<li><a class="footer-link">Policies</a></li>
				<li><a class="footer-link" href="<%= team_path %>">Team</a></li>
				<li><a class="footer-link">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="social">
				<li>
					<a class="btn btn-default btn-circle" href="https://twitter.com/internbetas" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a class="btn btn-default btn-circle" href="https://www.facebook.com/InternBetas" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a class="btn btn-default btn-circle" href="https://plus.google.com/+Internbetas/about" target="_blank">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>