<header class="navbar navbar-fixed-top navbar-shadow">
	<div class="navbar-branding dark">
		<a href="dashboard.html" class="navbar-brand">
			<b>Interns</b>Dashboard
		</a>
	</div>
	<!--
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown menu-merge">
			<a data-toggle="dropdown" class="dropdown-toggle fw600 p15" href="#">
				<img class="mw30 br64" alt="Main Admin" src="/images/avatars/avatar.jpg">
				<span class="hidden-xs pl15"> Main Admin </span>
				<span class="caret caret-tp hidden-xs"></span>
			</a>
			<ul role="menu" class="dropdown-menu list-group dropdown-persist w250">
				<li class="dropdown-footer">
					<a class="" href="#">
						<span class="fa fa-power-off pr5"></span> Logout 
					</a>
				</li>
			</ul>
		</li>
	</ul>
	-->
</header>