<aside id="sidebar_left" class="nano nano-light affix sidebar-default has-scrollbar">
	<div class="sidebar-left-content nano-content" tabindex="0" style="margin-right: -17px;">
		<header class="sidebar-header">
			<div class="sidebar-widget author-widget">
				<div class="media">
					<a href="#" class="media-left">
						<img class="img-responsive" src="/images/avatars/avatar.jpg">
					</a>
					<div class="media-body">
						<div class="media-links">
							<a href="#">Logout</a>
						</div>
						<div class="media-author">Main Admin</div>
					</div>
				</div>
			</div>
        </header>
        <ul class="nav sidebar-menu">
        	<li class="sidebar-label pt20">Menu</li>
			<li <% if controller?('vacancies') || (controller?('dashboard') && action?('vacancies')) %>class="active"<% end %>>
				<a href="<%= dashboard_vacancies_path %>">
					<span class="fa fa-building"></span>
					<span class="sidebar-title">Companies</span>
				</a>
			</li>
			<li <% if controller?('internusrs') %>class="active"<% end %>>
				<a href="<%= dashboard_interns_path %>">
					<span class="fa fa-user"></span>
					<span class="sidebar-title">Interns</span>
				</a>
			</li>
			<li <% if controller?('subscribers') %>class="active"<% end %>>
				<a href="<%= dashboard_subscribers_path %>">
					<span class="fa fa-envelope"></span>
					<span class="sidebar-title">Subscribers</span>
				</a>
			</li>
        </ul>
	</div>
</aside>