<section class="why" style="background-color: #efefef;">
	<div class="container">
		<div class="section-header">
			<h2>Blog</h2>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="panel panel-default blog-item">
					<div class="panel-body text-center">
						<h3>Resume vs Portfolio Builder</h3>
						<img src="/images/blog/blog1.jpg" class="img-responsive center-block">
						<a class="btn btn-primary custom-button turq-btn btn-lg space-bottom-20">Read this post <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>